:root {
    background-color:#f0c9ea;
}

.container {
    width: 80%;
    height: 60vh;
    background-color: #ffffff;
    border-radius: 5%;
    margin: auto;
    margin-top: 5%;
    border: 1px solid blue;
}

.fields {
    margin: 5% 10%;
}

.pink-font {
    color: #e8258e;
}

#fields__title {
    font-size: 18px;
    font-weight: 800;

}